In [17]:
import pandas as pd
df=pd.read_csv(r"C:\Users\82109\Documents\내 Tableau 리포지토리\데이터 원본\netflix-shows\netflix_titles.csv")
#read_csv 엔터 후 ()를 사용한다면 에러가 뜨니 조심하기!

#df.head() => 데이터 앞부분만 읽기 위해
#type(df)

pandas.core.frame.DataFrame

In [19]:
print(df.isna().sum())
df.fillna(0,inplace=True)

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [20]:
print(df.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [21]:
print(df['date_added'].value_counts)

<bound method IndexOpsMixin.value_counts of 0       September 9, 2019
1       September 9, 2016
2       September 8, 2018
3       September 8, 2018
4       September 8, 2017
              ...
6229                    0
6230                    0
6231                    0
6232                    0
6233                    0
Name: date_added, Length: 6234, dtype: object>

In [22]:
date_MonthSort=[]
for i in df['date_added']:
    if i==0:
        date_MonthSort.append('0')
    elif 'January' in i:
        date_MonthSort.append('1월')
    elif 'February' in i:
        date_MonthSort.append('2월')
    elif 'March' in i:
        date_MonthSort.append('3월')
    elif 'April' in i:
        date_MonthSort.append('4월')
    elif 'May' in i:
        date_MonthSort.append('5월')
    elif 'June' in i:
        date_MonthSort.append('6월')
    elif 'July' in i:
        date_MonthSort.append('7월')
    elif 'August' in i:
        date_MonthSort.append('8월')
    elif 'September' in i:
        date_MonthSort.append('9월')
    elif 'October' in i:
        date_MonthSort.append('10월')
    elif 'November' in i:
        date_MonthSort.append('11월')
    elif 'December' in i:
        date_MonthSort.append('12월')
    else:
        date_MonthSort.append('기타')
df=df.assign(date_monthSort=date_MonthSort)

In [23]:
print(df['date_monthSort'].value_counts())

12월    696
10월    646
11월    612
1월     610
3월     551
8월     509
9월     479
7월     474
4월     447
5월     428
6월     393
2월     378
0       11
Name: date_monthSort, dtype: int64

In [24]:
df.to_csv(r"C:\Users\82109\Documents\내 Tableau 리포지토리\데이터 원본\netflix-shows\netflix_new.csv")